* {
    margin: 0 auto;
    padding:0;
    z-index:0;
    position: relative;
    box-sizing:border-box;
}

#cloud-and-balloon-container
{
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.header
{
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 40rem;
  height: 26.7rem;
  display: block;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.hidden
{
  display: none;
}

.foliage
{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
}

.cloud-contact-box
{
  height: auto;
  width: 69%;
  left: 0;
  /* top: 13rem; */
  right: 0;
  position: absolute;
  overflow: visible;
  transform: translateY(100px);
}

#cloud-contact-03:hover #phone-path
{
  fill: black;
}

#email-box
{
  height: auto;
  width: 69%;
  left: 0;
  right: 0;
  position: absolute;
  overflow: visible;
  transform: translateY(100px);
}

#email-box rect
{
  fill: white;
  stroke: black;
  stroke-width: 0.1rem;
}

#email-box svg
{
  overflow: visible;
  height: auto;
}

#email-text
{
  top: 55%;
  font-size: 1.7rem;
  position: absolute;
  left: 0;
  right: 0;
}

#phone-text
{
  top: 53.9%;
  font-size: 1.7rem;
  position: absolute;
  left: 0;
  right: 0;
}

#phone-box
{

}

#phone-box rect
{
  fill: white;
  stroke: black;
  stroke-width: 0.1rem;
}

#phone-box svg
{
  overflow: visible;
  height: auto;
}



#road-01
{
  margin-top: -30.5rem;
}

.mask
{
    position: absolute;
    left: 30rem;
    top: 24rem;
    width: 100%;
    height: 10rem;
    z-index: 10;
    background-color: white;
    background-repeat: no-repeat;
    /* outline: 1px solid black; */
}

.font-skills-new
{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
    width: 35%;
    margin-top: -5%;
}


.cloud-one-generated-sub-container
{
  width: 19rem;
  height: auto;
  left: 0;
  right: 0;
  margin: 0;
  /* position: absolute; */
  te; */
}


.cloud-three-generated-sub-container
{
  width: 19rem;
  height: 16.3rem;
  min-width: 5rem;
  /* position: absolute; */
}


.cloud-three-generated-sub-container > div:first-child
{
  z-index: -1;

  left: 8rem;

  right: 0px;

  margin-left: 0;

  margin-right: 0;
}


.cloud-three-generated-sub-container > div:nth-child(0n+2)
{right: 3rem;top: 3rem;}

.cloud-three-generated-sub-container > div:nth-child(0n+3)
{
  z-index: 1;

  right: 0rem;

  top: 5rem;

  left: 8rem;
}

.road-container > div
{
  visibility: hidden;
}

.road-middle
{
  stroke-dasharray: 0.5rem;
  stroke: white;
  stroke-width: 0.10rem;
}

.road-middle-solid
{
    stroke-width: 0.02rem;
  stroke: black;
}

.clouds-contact > svg
{
position: absolute;
height: 100%;
}

#planet-city-container
{height: auto;}

#about-content-container
{
display: block;
max-width: 167rem;
width: 100%;
height: auto;
}

#skills-header-container
{width: 100%;height: auto;}


#blimp-css > svg
{
  position:absolute;
}

#first-road
{
  margin-top: -30.2rem;
}

.blimp-container
{

height: 20rem;
}

#blimp-web > svg
{
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

#blimp-html > svg
{height: 100%;position: absolute;width: 100%;left: 0;right: 0;}

#laptop-container svg
{

width: 48%;

height: 100%;

position: absolute;

left: 0;

top: 4rem;

right: 0;

/* transform: scale(0.5); */
}



#contact-header-cloud-container
{
    width: 100%;
    height: auto;
}

#anim-rain-01
{
  height: 11rem;
  position: absolute;
}

#skills-text-box-container
{width: 100%;height: 12rem;z-index: -1;top: 62%;left: -1rem;z-index: 1;}

#skills-text-box-web-dev
{
}

#skills-text-box-container-01
{

}

#cloud-background-01
{
z-index: -1;
transform: translate(47%, 8%);
}

#cloud-background-02
{
    transform: translate(0);
}

#cloud-background-03
{
z-index: 1;
transform: translate(25%, 21%);
}

#foliage-container
{
  z-index: -9998;
  width: 100%;
  position: absolute;
  height: 620rem;
}

#paper-plane-container-01
{
z-index: 2;
left: 38%;
top: 0rem;
}

#paper-plane-container-02
{
z-index: -1;
transform: rotate(14deg);
top: -3rem;
left: -6rem;
}

#paper-plane-container-03
{z-index: -1;right: 0;top: -4rem;/* transform: rotate(16deg); */}

#paper-plane-container-04
{
    z-index: -1;
    left: 45%;
    transform: rotate(4deg);
    top: -2rem;
}

.paper-plane-line-container
{
width: 210%;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
position: absolute;
z-index: -1;
}

#paper-plane-line-01
{
    transform-origin: right;
    transform: translate(13rem, -2.4rem) rotate(-23deg);
    z-index: -1;
}

#paper-plane-line-02
{translate(-89.3%, 16.1rem) rotate(-47deg): translate(-76%, 63%) rotate(-47deg);transform-origin: left;transform: translate(-19.3rem, 31.4rem) rotate(-30.3deg);z-index: -1;left: -13.1rem;top: 6.8rem;}

#paper-plane-line-03
{/* transform-origin: left; *//* transform: translate(-19.3rem, 31.4rem) rotate(-30.3deg); *//* z-index: -1; *//* left: -57.2rem; *//* top: 16.8rem; */}

#paper-plane-line-03 svg
{
left: -18rem;
width: 348%;
}

#paper-plane-line-04
{transform-origin: right;transform: translate(18rem, 19.9rem) rotate(15.3deg);z-index: -1;}


.contact-icons
{
height: auto;
top: 37%;
width: 31%;
max-width: 12rem;
display: block;
}

.paper-plane-container
{
    width: 81%;
    height: 100%;
    margin: 0;
    position: absolute;
    right: 0;
    left: -30%;
}

div.road-container div:nth-child(2n)
{
  transform: scaleX(-1);
}

#hot-air-balloon-plain *
{
  stroke-width: 0.075rem;
  stroke: black;
}

#fire-01
{
  max-width: 6.1rem;
  height: auto;
  top: 16rem;
  right: 41.8%;
}

#fire-02
{
width: 6.1rem;
height: auto;
top: 18rem;
right: -13.1%;
}

.road-sign
{
  width: 1rem;
  position: absolute;
  height: auto;
  /* overflow: visible; */
}

.road-sign > svg *
{
    stroke#-width: 571px;
    fill: white;
    stroke: black;
    stroke-width: 1.8px;
}

#road-sign-01
{
top: 1.9%;
width: 4rem;
left: 15%;
}


#vegetation-group-01
{left: 78.4%;top: 0.7%;width: 15rem;height: 20.6rem;}

#vegetation-group-02
{width: 10rem;height: 7.5rem;left: 67.5%;top: 66.7%;position: absolute;}

#vegetation-group-03
{width: 10rem;height: 18rem;left: 16.4%;top: 20.7%;position: absolute;}

#vegetation-group-04
{width: 10rem;height: 20.6rem;left: 75.4%;top: 29.7%;position: absolute;}

#vegetation-group-05
{width: 12rem;height: 24.7rem;left: 60.4%;top: 51.2%;}

#vegetation-group-06
{width: 10rem;height: 12rem;left: 67.4%;top: 52.7%;position: absolute;}

#vegetation-group-07
{width: 13rem;height: 21.4rem;left: 78.4%;top: 9.7%;position: absolute;}

#vegetation-group-08
{width: 10rem;height: 20.6rem;left: 70.4%;top: 58.2%;}

#vegetation-group-09
{width: 12rem;height: 19rem;left: 84.4%;top: 42.7%;position: absolute;}

#vegetation-group-10
{width: 11rem;height: 29rem;left: 5.4%;top: 39.7%;position: absolute;}

#vegetation-group-11
{width: 12.5rem;height: 21rem;left: 76.4%;top: 21.7%;}

#vegetation-group-12
{width: 9.5rem;left: 9.4%;top: 54.7%;}

#vegetation-group-13
{left: 66.4%;top: 27.7%;width: 12rem;height: 3rem;}

#test-case
{
  left: 70%;
  width: 15rem;
  height: 20.8rem;
}

#tree-group-01
{
  top: 6.2%;
  left: 46%;
  width: 13rem;
}

#tree-01
{left: 94%;z-index: -2;width: 95%;}

#tree-02
{z-index: -1;left: 37%;width: 70%;top: 7rem;}

#tree-03
{
z-index: -2;
top: 2rem;
left: -90%;
width: 71%;
}

#tree-04
{
top: 2rem;
left: 3.5%;
width: 11rem;
z-index: -1;
}

#tree-05
{
z-index: -2;
height: auto;
width: 11rem;
position: absolute;
}

#tree-06
{
}

#tree-07
{
left: 47.7%;
z-index: -5;
top: -4rem;
}

#tree-08
{

}

#tree-09
{
left: 10.5%;
}

#tree-10
{
left: -165.5%;
top: -5rem;
z-index: -1;
width: 70%;
}

#tree-11
{
left: 0%;
top: -1rem;
}

#tree-12
{left: 4%;width: 65%;height: auto;}

#tree-13
{
left: 67%;
width: 50%;
z-index: -1;
top: -4rem;
}

#tree-14
{top: 37%;left: 81%;width: 10rem;}

#tree-15
{
left: 86%;
}

#tree-16
{left: -75%;top: 2.7rem;z-index: 0;}

#tree-17
{
top: 30%;
left: 0;
}

#tree-18
{left: 74.4%;z-index: -2;top: -3rem;width: 90%;}

#tree-19
{left: 85%;}

#tree-20
{left: 40%;top: 2rem;width: 85%;}

#tree-21
{
z-index: -3;
left: -60%;
width: 85%;
}

#tree-22
{

}

#tree-23
{
}

#tree-24
{
left: -49.5%;
z-index: -5;
}

#tree-25
{left: 10%;width: 86%;top: -1rem;}

#tree-26
{
}

#tree-27
{left: 34%;top: -2rem;}

#tree-28
{
  left: 50%;
  top: 4rem;
}

#tree-29
{
  left: 23%;
  z-index: -2;
  width: 84%;
  top: -7rem;
}

#tree-30
{
}

#tree-31
{
  z-index: -2;
  width: 78%;
  top: -1rem;
}

#tree-32
{
  z-index: -2;
  left: 70%;
  top: 8rem;
}

#tree-33
{
  top: 57.8%;
  left: 41.8%;
  width: 9rem;
  z-index: -2;
}

#tree-34
{
  left: -116.2%;
  width: 10rem;
  z-index: -2;
}

#tree-35
{
  left: 75.9%;
  top: 11rem;
  z-index: 2;
}

#tree-36
{position: relative;}

#tree-37
{
  z-index: -1;
}

#tree-group-03
{
  width: 18rem;
  height: 17.4rem;
  top: 14.8%;
  left: 7.9%;
}

#tree-group-04
{
  width: 15rem;
  height: 21rem;
  top: 32%;
  left: 11%;
  position: absolute;
}

#tree-group-05
{
  width: 12rem;
  height: 24.8rem;
  left: 7.5%;
  top: 61%;
  position: absolute;
}

#tree-group-06
{width: 12rem;height: 23.6rem;top: 46.9%;left: 12.4%;}

#tree-group-07
{width: 12rem;height: 18rem;top: 24.9%;left: 56.4%;}

#tree-group-08
{width: 10rem;height: 17rem;top: 25.5%;left: 12.4%;position: absolute;}

#tree-group-09
{width: 10rem;height: 17rem;top: 52%;left: 22.4%;position: absolute;}

#tree-group-10
{width: 10rem;height: 23rem;top: -1.5%;left: 9.4%;position: absolute;}

#tree-group-11
{width: 11rem;height: 17rem;top: 9.5%;left: 6.4%;position: absolute;}

#tree-group-12
{width: 9.5rem;height: 15.1rem;top: 36.7%;left: 83.4%;position: absolute;}


#tree-group-02
{
  width: 10rem;
  height: 19.5rem;
  top: 13.7%;
  left: 79.8%;
}

#bush-01
{
z-index: 1;
width: 7rem;
top: 24.1%;
margin: 0;
left: 28%;
}



#flower-01
{
z-index: 1;
width: 2.5rem;
position: absolute;
left: -48%;
top: 16rem;
}

#bush-02
{
top: 14rem;
left: -54%;
z-index: -1;
width: 39%;
}

#bush-03
{
left: -101%;
top: 11.4rem;
z-index: -2;
width: 50%;
}

#bush-04
{
  z-index: 2;
  width: 50%;
  top: 17rem;
}

#bush-05
{
  z-index: -3;
  width: 60%;
  top: 10rem;
  left: -140%;
}

#bush-06
{
  z-index: -1;
  width: 100%;
  height: 55%;
  left: -5%;
}

#grass-01
{
z-index: 6;
width: 50%;
left: 26%;
top: 15.5rem;
}

#grass-02
{
width: 60%;
}

#grass-03
{
z-index: -1;
top: 15rem;
left: 44.5%;
}

#grass-04
{
left: 60.9%;
top: 12rem;
width: 10.1rem;
z-index: -1;
}

#grass-05
{
left: -76%;
width: 56%;
z-index: 2;
top: 17rem;
}

#grass-06
{
  left: 71%;
  width: 56%;
  top: 13rem;
  z-index: -4;
}

#grass-07
{
  left: 49%;
  z-index: -2;
  width: 56%;
  top: 16rem;
}

#grass-08
{
  left: -54%;
  z-index: 2;
  top: 18rem;
  width: 56%;
}


#mySVG * {
}

#mySVG.finished * {
  fill-opacity: 1;
    fill:red;
}


#grass-09
{
  left: -40%;
  z-index: -1;
  width: 75%;
  top: 13.5rem;
}

#grass-10
{
  top: 29%;
  left: 73%;
  z-index: -1;
  width: 9rem;
}


#grass-11
{
}

#grass-12
{
z-index: -1;
width: 100%;
left: 50%;
top: 2rem;
}


#flower-02
{
z-index: -2;
left: 0;
top: 0;
}


#flower-03
{
  z-index: -2;
  width: 20%;
  top: 15rem;
  left: 70%;
}

#flower-04
{
  z-index: 0;
  left: 103.4%;
  top: 14rem;
  width: 27%;
}

#flower-05
{
  z-index: 1;
  left: 37.9%;
  width: 20%;
  top: 16rem;
}


#flower-06
{
  z-index: 2;
  width: 26%;
  top: 16rem;
}






#blimp-anim
{overflow: visible;}

#blimp-js
{overflow: visible;}

#blimp-jquery
{overflow: visible;}

#blimp-css
{overflow: visible;}

#blimp-html
{overflow: visible;}

.city-building {
  fill: #fff;
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 0.05rem;
}

#skills-js
{z-index: 0;left: -18rem;}

#skills-animation
{z-index: 1;margin-top: -20rem;z-index: 1;max-width: 57rem;left: 22rem;}

#skills-jquery
{z-index: -1;margin-top: -14rem;left: -8rem;}

#skills-group-01
{margin-top: 3rem;}

#skills-group-02
{
    margin-top: 3rem;
    margin-bottom: -3rem;
}

.skill
{max-width: 50rem;width: auto;margin: auto;height: auto;}


#skills-html
{
    left: -14rem;
}

#skills-css
{
    z-index: -1;
    margin-top: -14rem;
    left: 19rem;
}

#skill-anim-jquery
{
    transform: translateY(30);
}

#skill-anim-animation
{
}

#skill-anim-js
{
}

#skill-anim-css
{

top: 6.2rem;

height: 22rem;

left: -1.6rem;
}

#skill-anim-html
{
}

#skill-anim-web-dev svg
{stroke: 5rem;}

#laptop-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.road-top
{
  stroke-width: 0.02rem;
  stroke: black;
}

.road-bottom
{
  stroke-width: 0.02rem;
  stroke: black;
}


#intro-container
{
    height: auto;
    z-index: -9999;
    overflow: hidden;
}


#name-header
{

font-size: 4.1rem;

font-family: 'Nunito Sans', sans-serif;

text-align: center;

font-weight: 300;
}

.intro-header-font
{
    font-size: 3.1rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    z-index: 2;
    font-weight: 300;
}

#intro-header-01
{

font-size: 2vw;

font-family: 'Quicksand', sans-serif;

text-align: center;

font-weight: 200;
}

#intro-header-02
{

}

#intro-header-03
{
    top: 4.1rem;
}

#planet-text
{width: 20%;z-index: 2;height: 20%;display: flex;top: 22.5rem;justify-content: center;align-items: center;left: 1rem;/* white-space: nowrap; */}

.bodymovin-planet-font-01
{
    font-size: 65px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

.bodymovin-planet-font-02
{
    font-size: 70px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}


#planet-outer-ring
{
  stroke-width: 0.1rem;
  stroke: black;
  stroke-dasharray: 79px;
  stroke-dashoffset: 0%;
}

#planet-outer-ring-container
{
  width: 40rem;
  height: 40rem;
}

.clouds-contact
{
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

.clouds-contact path
{
  stroke-width: 0.7rem;
  fill: white;
}

#paper-plane-04
{
}


@font-face
{
  font-family: 'Daniel';
  src:
    url('WebFonts/Daniel.eot'),
    url('WebFonts/Daniel.eot?#iefix') format('embedded-opentype'),
    url('WebFonts/Daniel.woff') format('woff'),
    url('WebFonts/Daniel.ttf') format('truetype'),
    url('WebFonts/Daniel.svg#Daniel') format('svg');
  font-weight: normal;
  font-style: normal;
}

#contact-container
{
  height: 120rem;
  width: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#email-section
{
    top: 49%;
    left: 14%;
}

#phone-section
{top: 76%;left: 60%;}

#cv-section
{
    top: 76%;
    left: 20%;
}

.paper-plane-line
{
  stroke-dasharray: 2;
  stroke: white;
  stroke-width: 0.10rem;
}

.paper-plane-line-solid
{
  stroke: black;
  stroke-width: 0.05rem;
  stroke-dasharray: 0;
}

#cloud-grouping-section
{
    left: 67%;
    top: 33%;
    z-index: -1;
}


#contact-description-section
{top: 30%;left: 0;right: 0;bottom: 0;height: 53rem;width: 40rem;position: absolute;margin-left: auto;margin-right: auto;}

.contact-section
{
position: absolute;
left: 0;
right: 0;
height: 17rem;
width: 29rem;
margin: 0;
}

#paper-plane-01
{}

#paper-plane-02
{
}

.paper-plane-envelope
{
transform: scaleX(-1) rotate(72deg);
position: absolute;
}

.paper-plane-envelope path
{
  stroke-width: 0.07rem;
}

#paper-plane-envelope-02
{
transform: scaleX(-1) rotate(-100deg);
}

#paper-plane-envelope-03
{
transform: scaleX(-1) rotate(-100deg);
}

#paper-plane-envelope-04
{

z-index: -1;

transform: rotate(-116deg);
}

#paper-plane-03
{
    transform: scaleX(-1);
}

#blimp-web-font
{
width: 100%;
}

#font-container-web
{
left: -3.1%;
}

#font-container-html
{
left: 3%;
}

#font-container-css
{
left: -2%;
}

#font-container-animation
{
left: -3.6%;
margin-top: -4.9%;
}

#font-container-js
{
left: 2.7%;
}

#font-container-jquery
{
left: 2.7%;
}

#cv path
{
  stroke-width: 0.8px;
}

#email path
{
  stroke-width: 0.07rem;
  fill: none;
}

#phone path
{
  stroke-width: 0.06rem;
}

.copyright-font
{
  font-family: 'Daniel', sans-serif;
  font-size: 2.5rem;
}

#copyright-container
{
    height: auto;
    fill: white;
    transform: translateY(-4rem);
    max-width: 167rem;
}

#copyright-text
{
    display: inline-block;
    transform: rotate(-11deg);
    padding-left: 1rem;
}

#thanks
{float: right;display: inline-block;position: absolute;right: 0;bottom: 0;transform-origin: right;transform: rotate(9deg);padding-right: 1rem;}

#skills-text-box-animation
{

width: 14rem;

top: 62%;

right: 3.5%;
}

#skills-text-box-jquery
{

width: 10rem;

left: 1.5rem;

top: 55%;
}

#skills-text-box-js
{

width: 14rem;

left: 2.4rem;

top: 58%;
}

#skills-text-box-css
{

width: 7rem;

left: -1rem;

top: 73%;
}

#skills-text-box-html
{

width: 8rem;

left: 1rem;

top: 56%;
}

.skills-text-box-container
{

width: 23rem;

z-index: -1;

height: 7.4rem;

top: 90%;
}

#cv-box:hover + #cv-outlines
{
  fill: black;
}

#cv-outlines:hover
{
  fill:black;
}

.skills-text-box
{border: black 0.15rem solid;text-align: center;width: 50%;background: white;height: 100%;z-index: -1;max-width: 24rem;}

#skill-anim-web-dev path
{
   stroke-width: 0.55rem;
}

#laptop-container path
{
  stroke-width: 0.4rem;
}

#skill-anim-js path
{
  stroke-width: 0.7rem;
}

.skills-group
{
    display: block;
    width: 100%;
    height: auto;
}

#skill-anim-jquery path
{
}

#skill-anim-animation path
{
  stroke-width: 0.7rem;
}

#skill-anim-html path
{
  stroke-width: 0.8rem;
}

#skill-anim-css path
{
  stroke-width: 0.8rem;
}

.skill-anims path
{stroke-width: 0.3rem;}

#trophy svg g *
{
  stroke-width: 0.15rem;
}

#game-controller svg g *
{
  stroke-width: 0.07rem;
}

.about-icons
{
height: auto;
max-width: 70%;
position: absolute;
left: 0;
right: 0;
top: -30%;
}

.clouds-header > svg > path
{
  stroke-width: 0.7rem;
}

.clouds-content > svg > path
{
  stroke-width: 0.7rem;
  fill: white;
}

.road
{
  overflow: inherit;
  height: 10.05%;
  margin-bottom: 6rem;
}


#solid-line-01
{

transform-origin: top left;

width: 100%;

height: initial;

stroke-width: 1rem;
}

#solid-line-02
{

}

#dotted-line-01
{

}

.dashed-road-line
{

stroke: black;

stroke-dasharray: 1rem;

stroke-width: 1rem;
}

.solid-road-line
{
  stroke: black;
}

.road-container
{
position: absolute;
width: 100%;
left: 0;
right: 0;
height: 620rem;
overflow: hidden;
z-index: -99999;
transform: scaleX(-1);
}

.foliage-hide
{
  max-width: 13rem;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  visibility: hidden;
  transform-origin: bottom;
}

.foliage-show
{
  width: 9rem;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  visibility: visible;
  transform-origin: bottom;
}

#email
{
    top: 43%;
    width: 38%;
}

#phone
{top: 37%;}

#city-buildings svg
{
}


#city-buildings path
{
  stroke-width: 0.03rem;
  stroke: black;
}

#cv
{
    top: 36%;
}

.paper-plane
{
}

#contact-text
{
  width: 48%;
  top: -74%;
}

#hot-air-balloon-plain
{
  height: 100%;
}

.skill-anims
{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.blimps
{
  fill: #fff;
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 0.1rem;
}

.font-skills
{
  text-anchor: middle;
  font-size: 1.358rem;
  font-family: 'Quicksand', sans-serif;
  fill: black;
}

#skills-container
{
height: auto;
width: 100%;
}

#skills-header
{}

#skills-header-cloud-container
{left: 0;right: 0;}


#blimp-web
{overflow: visible;}

#skills-web-development
{
    margin-bottom: -15rem;
    z-index: 1;
    max-width: 57rem;
    left: 22rem;
}


#skill-anim-web-dev
{}


#about-content-02-text
{
    width: 36rem;
    top: -9.5rem;
}

#about-content-cloud-03
{
}

#about-content-cloud-04
{
    z-index: -1;
}

#about-content-03-text
{

width: 37rem;

top: -9.5rem;
}

#about-content-04-text
{

width: 35rem;

margin-top: -1.5rem;
}

html
{
  height: 100%;
  font-size: 62.5%; /* % of browser font setting - 10px*/
}

html, body {
  top:0;
  left:0;
  margin:0;
  padding:0;
}

body
{
  min-height:100%;
  margin:0 auto;
  position: relative;
  overflow-x: hidden;
  max-width: 192rem;
}

svg
{
  width: 100%;
  height: 100%;
  display: block;
  fill: white;
}

.font-header
{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  font-size: 6rem;
}

.font-div
{
  width: auto;
  font-size: 1.9rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: normal;
  top: -8rem;
  /* transform: translateY(-135%); */
}

#wrapper-background
{width: 100%;position: absolute;/* top: 77rem; */}

#wrapper-foreground
{
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  height: auto;
  overflow: hidden;
  max-width: 270rem;
}

#city-container
{display: block;width: 100%;height: auto;max-width: 75rem;}

#anim-city-flyover-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

#anim-city-flyover-container > *
{
  position: absolute;
  left: 0;
  right: 0;
  width: 23rem;
  height: auto;
}

#city-buildings
{height: 100%;width: 47%;}

#city-flatline
{

  /* go across the entire screen */
max-width: none !important;
width: 100%;
left: 0;
right: 0;
height: 0.7rem;
margin-bottom: -0.5rem;
}

#city-flatline > svg
{
  stroke: black;
  stroke-width: 5rem;
  fill: black;
}

#hot-air-balloon-web
{display: block;/* outline: 1px solid #5a25fe; */width: 100%;height: auto;px; */max-width: 61.5rem;}

.clouds-content, .clouds-header, .clouds-background
{
  height: 100%;
  width: 100%;
}

.clouds-content
{z-index: -1;width: auto;min-width: 80%;top: -1rem;}

.clouds-background
{max-width: 19rem;width: 100%;position: absolute;height: auto;}

.clouds-generated-background
{width: 19rem;position: absolute;height: auto;}

.clouds-header
{
    max-width: 40rem;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
}

#cloud-container
{
  position: absolute;
  height: auto;
  width: 62%;
  min-width: 9rem;
  z-index: 1;
  top: 80%;
}

#cloud-group-three-01-container
{
  height: 100%;
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

#cloud-group-three-01
{
  min-width: 5rem;
  width: 19%;
  height: auto;
  max-width: 19rem;
  margin: 0;
  fill: white;
  transform: translate3d(0,0,0);
  visibility: hidden;
}

div#cloud-group-three-01 {}

#cloud-group-three-stroked-02-container
{
  height: 100%;
  position: absolute;
  width: 100%;
}

#cloud-group-three-stroked-02
{
  fill: white;
  transform: translate3d(0,0,0);
  width: 100%;
}

#cloud-group-three-stroked-02 path
{
  fill: white;
}

#cloud-background-stroked-01
{
  z-index: -1;
  transform: translate(27%, 8%);
}

#cloud-background-stroked-02
{
  transform: translate(-20%);
}

#cloud-background-stroked-03
{
  z-index: 1;
  transform: translateY(25%);
}

#cloud-group-three-03-container
{
  height: auto;
  position: absolute;
  left: 66%;
  top: 68%;
}

#cloud-group-three-03
{
  width: 19rem;
  height: auto;
  max-width: 19rem;
  fill: white;
}

#cloud-group-three-03 path
{
  fill: white;
}

#cloud-group-three-01 path
{
  fill: white;
}

/* Standard syntax */
@keyframes example {
    from {transform: translate3d(0, 0, 0) rotate(0.001deg);}
    to {transform: translate3d(calc(100vw), 0, 0) rotate(0.001deg);}
}

#generated-clouds-container
{
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
}

.cloud-generated-container
{
  width: 100%;
  height: 12rem;
  position: absolute;
}

.cloud-generated
{height: 16.666667%;}

#hot-air-balloon-web-container
{position: absolute;overflow: inherit;z-index: -1;left: 62%;top: 35%;width: 36%;min-width: 12rem;max-width: 27rem;height: auto;}

#cloud-02
{}

#cloud-03
{z-index: 3;}

#cloud
{
  top: 0rem;
}

#cloud-rain-container
{
  width: 19rem;
  height: 13rem;
  position: absolute;
}

#cloud-rain
{
  width: 100%;
  height: auto;
  position: absolute;
}

#cloud-rain-container-01
{
position: absolute;
z-index: -1;
left: 8rem;
}

#cloud-rain-container-02
{
position: absolute;
right: 3rem;
top: 3rem;
}

#cloud-rain-container-03
{
position: absolute;
z-index: 1;
right: 0rem;
top: 5rem;
left: 8rem;
}


/*
@keyframes example
{
  from
  {
    transform: translate(0px);
  }
  to
  {
    transform: translate(100px);
  }
}
*/

#cloud-rain svg
{height: 50%;}

.anim-rain
{
  max-width: 100%;
  height: 12rem;
  /* visibility: hidden; */
}

#anim-rain svg
{
  height: 100% !important;
}




/* BEGIN ABOUT */

#about-container
{height: auto;=: 6remwidth: 100%}

#about-header
{
    margin-top: 6rem;
}

#about-header-text
{}

#about-header-cloud-container
{width: 100%;height: auto;}

#header-cloud-01
{z-index: -1;left: -6rem;}

#header-cloud-02
{z-index: -2;left: 6rem;top: 1rem;}

#header-cloud-03
{
    left: 0;
    top: 2rem;
    position: relative;
}

#about-content-cloud-01
{
}

.about-content
{max-width: 40rem;width: auto;height: auto;margin: auto;}

#about-content-01
{
    top: 12rem;
    left: -20%;
}

#about-content-02
{
    left: 20%;
    top: 7rem;
}

#about-content-03
{top: 3rem;left: -20%;}

div#about-content-03 {}

#about-content-04
{left: 20%;top: -2rem;}


.bowler-hats *
{
  stroke-width: 0.15rem;
}

#bowler-hats-container
{

width: 80%;

/* position: relative; */

height: 100%;

transform: translateY(12%);
}

#bowler-hat-01
{
    transform: translate(30%, 8%);
    width: 62%;
}

#bowler-hat-02
{transform: translate(-30%, 8%);width: 62%;}

#bowler-hat-03
{
  z-index: 1;
  transform: translateY(38%);
  width: 62%;
}

#tools
{}

#game-controller
{left: 30%;top: -13%;}

#about-content-02-icons
{

width: 100%;

position: relative;
}

#trophy
{transform: rotate(-8deg);max-width: 32%;top: -18%;right: 50%;}

#about-content-cloud-02
{}

#planet-container
{display: block;width: 100%;height: auto;max-width: 61.5rem;}

#planet
{
               /* collapse the container's height */
      /* specify any width you want (a percentage value, basically) */
  /* apply a padding using the following formula */
  /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
                   /* create positioning context for svg */
               width: 100%;
               height: 100%;
               max-width: 50rem;
               width: auto;
               height: auto;
               width: 100%;
               height: auto;
               max-width: 118rem;
}

#planet svg
{
  top: 0;
  /* position: absolute; */
  left: 0;
  width: 30%;
  height: 30%;
  border: none;
}

/* ------- MEDIA QUIERIES ------- */


@media screen and (max-width: 63.75em)
{
  body
  {
    background: red;
  }

  #tree-group-01
  {
    left: 62%;
  }

  #tree-group-02
  {
    top: 14.9%;
    left: 73%;
  }

  #vegetation-group-03
  {
    left: 8%;
  }

  #contact-container
  {
}

  #cloud-grouping-section
  {
    display: none;
  }

  #contact-description-section
  {
margin-top: 0;
margin-bottom: 0;
top: 24%;
}

  #email-section
  {
    top: 54%;
   }

  #cv-section
  {
    top: 77%;
    left: 14%;
   }

  #phone-section
  {
top: 77%;
left: 55%;
}

#skills-container
{
  height: 130rem;
}

#skills-group-01
{
  margin-bottom: 16rem;
  /* width: 95%; */
}

  #skills-web-development
  {
left: 15%;
max-width: 50rem;
}

  #skills-html
  {
left: -14rem;
top: 6rem;
}

  #skills-css
  {
    left: 16rem;
    top: 6rem;
  }

  .skill
  {
    max-width: 41rem;
  }

  #skills-jquery
  {
z-index: -2;
margin-top: -13.2%;
width: 47rem;
left: 0;
}

  #skills-animation
  {
width: 47rem;
left: 26%;
margin-top: -14rem;
/* z-index: -1; */
}

  #skills-js
  {
margin-right: 37%;
top: 0rem;
width: 48rem;
left: 0;
}

@media screen and (max-width: 48em)
{

  body
  {
    background: orange;
  }

  .header
  {
    width: 57%;
    min-width: 34rem;
    height: auto;
    margin-bottom: 4%;
  }

  #about-content-01
  {
    left: 0;
    top: 9rem;
   }

  #about-content-02
  {
    left: 0;
    top: 8rem;
}

  #about-content-03
  {
left: 0;
top: 6rem;
}

  #about-content-04
  {
left: 0;
top: 3.5rem;
margin-bottom: 4rem;
}

  #skills-header
  {
  }

  #contact-header-cloud-container
  {
  }

  .road
  {
    height: 7.5%;
  }

  #road-01
  {
    margin-top: -22.9rem;
  }

  #hot-air-balloon-web-container{
    left: 66%;
    width: 27%;
    max-width: 18rem;
    top: 55%;
  }

  .contact-section
  {
    margin: auto;
  }

  #contact-container
  {
height: 158rem;
}

  #contact-description-section
  {
    top: 0;
    position: relative;
  }

  #email-section
  {
    left:0;
    top: 84rem;
  }

  #cv-section
  {
    left:0;
    top: 110rem;
  }

  #phone-section
  {
    left:0;
    top: 134rem;
  }

  #copyright-container
  {
    background: white;
    transform: translateY(0rem);
    border-top: dashed 0.1rem black; */
  }

  #thanks
  {
    display: none;
  }

  #copyright-text
  {
    transform: rotate(0deg);
    text-align: center;
    padding-left: 0rem;
    display: block;
    padding-top: 0.3rem;
  }

  #skills-web-development
  {
left: 0;
margin-bottom: 0;
max-width: 41rem;
}

  #skills-html
  {
left: 0;
top: 0;
margin-top: 2rem;
}

  #skills-css
  {
left: 0;
top: 0;
margin-top: 2rem;
}

  #skills-animation
  {
left: 0;
margin-top: 2rem;
margin-right: auto;
width: 41rem;
margin-left: auto;
}

  #skills-js
  {
margin-right: auto;
margin-left: auto;
}

  #skills-jquery
  {
margin-right: auto;
margin-left: auto;
margin-top: 1rem;
}

#skills-container
{
  height: auto;
}

#skills-group-01
{
  margin-bottom: 0rem;
  margin-top: 4rem;
}

}


@media screen and (max-width: 30em)
{
  body
  {
    max-width: 100%;
    min-width: 320px;
    background: yellow;
  }

  .skills-group
  {
      width: 95%;
  }

  .header
  {
    width: 70%;
    min-width: 31rem;
  }

  .contact-section
  {
    position: relative;
  }

  #header-cloud-03
  {
    top:0;
  }

  #contact-header
  {
  }

  #header-cloud-01
  {
    display: none;
  }

  #header-cloud-02
  {
    display: none;
  }

  #about-content-container
  {
    width: 72%;
    min-width: 28rem;
  }

  #skills-container
  {
    width: 100%;
    min-width: 28rem;
  }

  #contact-description-section
  {height: 38rem;width: auto;margin-top: 2.3rem;}

  #foliage-container > div
  {
    display: none
  }
  .road
  {
    height: 3.35%;
  }
  #road-01
  {
    margin-top: -10.3rem;
  }
  #cloud-container
  {
    min-width: 1rem;
    width: 55%;
  }
  #hot-air-balloon-web-container
  {
    min-width: 0rem;
  }
  #cloud-grouping-section
  {

  }
  #email-section
  {top: 0;margin-top: 4rem;}
  #phone-section
  {top: 0;}
  #cv-section
  {
    top: 0;
  }
  #contact-container
  {
    height: 141rem;
    margin-top: 3rem;
  }

  .paper-plane-container
  {
    width: 100%;
  }

  .paper-plane-envelope path
  {
    stroke-width: 0.05rem;
  }

  #about-header
  {
    margin-top: 1.7rem;
    margin-bottom: -0.2rem;
  }

  #paper-plane-container-02
  {
    z-index: -1;
    transform: rotate(14deg);
    top: -3rem;
    left: -6rem;
  }

  #paper-plane-container-03
  {
    z-index: -1;
    transform: rotate(14deg);
    top: -3rem;
    left: -6rem;
  }

  #paper-plane-container-04
  {
    z-index: -1;
    transform: rotate(14deg);
    top: -2.9rem;
    left: 6.2rem;
  }

  .contact-section
  {
    max-width: 29rem;
    min-width: 22rem;
    width: 56%;
    margin-top: 8rem;
  }

  #about-content-02
  {top: 9rem;}

  #about-content-03
  {top: 10rem;}

  #about-content-04
  {
    top: 10.5rem;
  }

  #skills-header
  {
    margin-top: 6rem;
  }

  #skills-group-01
  {
    margin-top: 0.4rem;
  }

  #skills-js
  {
    width: 100%;
  }

  #skills-animation
  {
    width: 100%;
  }

  #skills-jquery
  {
    width: 100%;
  }

  #skills-web-development
  {}

  #skills-html
  {margin-top: 2.4rem;}

  #skills-css
  {margin-top: 3rem;}

  #skills-js
  {}

  #skills-animation
  {margin-top: 3.5rem;max-width: 41rem;}

  #skills-jquery
  {
  }

}
